---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import HeroSection from "../components/Home/HeroSection.astro";
import FeaturedBlog from "../components/Home/FeaturedBlog.astro";
import MeetContributors from "../components/Home/MeetContributors.astro";
import FAQ from "../components/Home/FAQ.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <HeroSection />
      <FeaturedBlog />
      <MeetContributors />
      <FAQ />
    </main>
    <Footer />
    <style>
      main {
        height: max-content;
        width: 100vw;
      }
    </style>
  </body>
</html>
